{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href={% static "style_verified.css"%}
    />
  </head>
  <body>
    <div class="form-container">
      <form>
        <div class="profile-info">
          <h1>Profile</h1>
          <div>
            <label for="name">Name:</label>
            <p>{{name}}</p>
          </div>
          <div class="verified">
            <p>Face Matched, Verification successful</p>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
